body{
    margin: 0;

}
header{
    background-color: #31694E;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    
}
header h1{
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
li{
    margin-right: 10px;
    color: white;
}
nav a{
    text-decoration: none;
    color: black;
}
main{
    background-color: #F0E491;
    padding: 10px;
}
.contenedor_limite{
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(59, 59, 59);
    border-radius: 8px;
}
.sectionUno{
    text-align: center;
}

.seccion_tarjeta{
    display: flex;
    justify-content: center;

}

.tarjeta{
    box-shadow: 0 0 10px #31694E;
    border-radius: 8px;
    width: 200px;
    background-color: gray;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
}
.tarjeta p{
    color: white;
    margin: 0px 0px 5px 0px;

}
.tarjeta h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

img{
    width: 80%; 
    margin-top: 15px;
}
button{
    background-color: bisque;     /* Color principal */
    color: gray;                  /* Texto en blanco */
    border: none;                  /* Sin borde */
    border-radius: 8px;            /* Bordes redondeados */
    padding: 10px 20px;            /* Tamaño cómodo */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.boton:hover{
    color: black;
    /* transform: scale(2); */
    /* transform: rotate(100deg); */
    /* transform: translate(30px, -20px); */
    border: 1px solid black;

}
/* .grilla{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 400px;
    text-align: center;
}
.parrafoGrilla{
    grid-column: 4/5;
    grid-row: 3/4;
}
.contenedorImagen{
    grid-column: 2/3;
    grid-row: 4/5;
} */
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 400px;

}

.div1 { 
    grid-area: 1 / 1 / 3 / 4; 
    background-color: rgb(43, 57, 57);
    border-radius: 8px;
}
.div2 { 
    grid-area: 1 / 4 / 3 / 6;
    background-color: rgb(164, 164, 164);
    border-radius: 8px; 
}
.div3 { 
    grid-area: 3 / 1 / 4 / 3; 
    background-color: rgb(67, 61, 61);
    border-radius: 8px;
}
.div4 { 
    grid-area: 4 / 1 / 6 / 3;
    background-color: rgb(0, 0, 0);
    border-radius: 8px; 
}
.div5 { 
    grid-area: 3 / 3 / 6 / 6; 
    background-color: rgb(129, 129, 129);
    border-radius: 8px;
    
}


footer {
  background-color: #31694E;
  display: flex;
  justify-content: center;  /* Centra en eje X */
  align-items: center;      /* Centra en eje Y */
  gap: 20px;                /* Espacio entre íconos */
  padding: 20px 0;
}


/*MEDIAS QUERYS*/
@MEDIA(max-width: 768px){
    .seccion_tarjeta{
    flex-wrap: wrap;
}
    .div1 { 
    grid-area: 1 / 1 / 3 / 4; 
    background-color: rgb(43, 57, 57);
    border-radius: 8px;
}
.div2 { 
    grid-area: 1 / 4 / 3 / 6;
    background-color: rgb(164, 164, 164);
    border-radius: 8px; 
}
.div3 { 
    grid-area: 3 / 1 / 4 / 3; 
    background-color: rgb(67, 61, 61);
    border-radius: 8px;
}
.div4 { 
    grid-area: 4 / 1 / 6 / 3;
    background-color: rgb(0, 0, 0);
    border-radius: 8px; 
}
.div5 { 
    grid-area: 3 / 3 / 6 / 6; 
    background-color: rgb(129, 129, 129);
    border-radius: 8px;
    
}
}